@import 'main';
.container {
  composes: container from '../../styles/main.css';
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

.ease-in-out {
  transition: .4s all ease-in-out;
}

.header-pos {
  transition: 1.5s all cubic-bezier(0.22, 0.61, 0.36, 1);
  margin: auto;
  position: relative;
}

.full-height {
  height: 100%;
}
