@import 'main';
.container {
  composes: container from '../../styles/main.css';
}

.table-cont {
  height: 100%;
  display: table;
  margin:auto;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

.ease-in-out {
  transition: .4s all ease-in-out;
}

.header-pos {
  transition: 1.5s all cubic-bezier(0.22, 0.61, 0.36, 1);
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  margin:auto;
  position: relative;
}
