@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800i);

$orange: #ec6b2d;
$accent-blue: #37bbe4;
$accent-red: #dd6464;

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('/assets/fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/open-sans-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('/assets/fonts/open-sans-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/open-sans-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/open-sans-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/open-sans-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/open-sans-v13-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/open-sans-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/assets/fonts/open-sans-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/open-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/open-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/open-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/open-sans-v13-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/open-sans-v13-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'),
       url('/assets/fonts/open-sans-v13-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/open-sans-v13-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/open-sans-v13-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/open-sans-v13-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/open-sans-v13-latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif!important;
  margin: 0px;
  font-size: 16px;
}

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 10em;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-blue;
      cursor:pointer;
    }
  }

  #heart{
    color: $accent-red;
  }
}

.container {
  height: 100%;
  padding: 2em;
}