.search-pos-abs {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 0px!important;
}

.bar {
  background-color: white;
  color: white;
}

.label {
  color: white;
}
.search-pos {
  position: relative;
}

.search-cont {
  input[type='text'] {
    padding-left: 25px;
    max-width: calc(100% - 25px);
    color: white;
    border-bottom: 2px solid white
  }
  ul {
    padding-left: 0;
  }
  label {
    color: white!important;
  }
}

/*.autocomplete,
.input {
  padding-bottom: 0;
}

.label {
  color: white!important;
}

.suggestion {
  color: black;
  list-style: none;
  padding-left: 0;
}


.values {
  display: none;
}
.hide-list {
  .suggestions {
    display:none;
  }
}

.show-list {
  .suggestions {
    display: block!important;
  }
}
*/
