.inputElement {
  color: white!important;
  border-bottom: 2px solid rgba(248, 248, 248, 0.5)!important;
}
.input {
  font-family: 'Open Sans'!important
}

.label {
  color: #06D6A0!important;
  font-weight:600;
}

.bar {
  &:before,
  &:after {
    background-color: #06D6A0!important;
  }
}

.search-pos-abs {
  position: absolute!important;
  bottom: -2em;
  width: 50%;
  left: 0;
  right:0;
  margin:auto;
}

.search-pos {
  position: relative;
}